<div class="container">
  <h1>Formulario para editar vuelos</h1>

  <form [formGroup]="form" (ngSubmit)="GuardarEdicionVuelos()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Ciudad de origen</label>
        <input formControlName="ciudadOrigen" type="text" class="form-control" id="inputEmail4" placeholder="Ciudad de origen">
      </div>

      <div class="form-group col-md-6">
        <label for="inputEmail4">Ciudad de destino</label>
        <input formControlName="ciudadDestino" type="text" class="form-control" id="inputEmail4" placeholder="Ciudad de destino">
      </div>

      <div class="form-group col-md-6">
        <label for="inputEmail4">Fecha</label>
        <input formControlName="fecha" type="text" class="form-control" id="inputEmail4" placeholder="Fecha">
      </div>

      <div class="form-group col-md-6">
        <label for="inputEmail4">Hora de salida</label>
        <input formControlName="horaSalida" type="text" class="form-control" id="inputEmail4" placeholder="Hora de salida">
      </div>

      <div class="form-group col-md-6">
        <label for="inputEmail4">Hora de llegada</label>
        <input formControlName="horaLlegada" type="text" class="form-control" id="inputEmail4" placeholder="Hora de llegada">
      </div>

      <div class="form-group col-md-6">
        <label for="inputEmail4">Numero de vuelo</label>
        <input formControlName="numeroVuelo" type="text" class="form-control" id="inputEmail4" placeholder="Numero de vuelo">
      </div>

      <div class="form-group col-md-6">
        <label for="inputEmail4">Aerolinea</label>
        <input formControlName="aerolinea" type="text" class="form-control" id="inputEmail4" placeholder="Aerolinea">
      </div>
    </div>

    <div class="form-group col-md-6">
      <label for="inputEmail4">Estado del vuelo</label>
      <input formControlName="estadoVuelo" type="text" class="form-control" id="inputEmail4" placeholder="Estado del vuelo">
    </div>

    <br>
    <button type="submit" class="btn btn-primary">Aceptar</button>
  </form>
  <br>
</div>
